[Unit]
Description=NomadNet Microweb & LXMF Propagation Node
After=rnsd.service network.target
Wants=rnsd.service

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/nomadnet --daemon
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
