[Unit]
Description=Timer para actualización continua de telemetría en páginas NomadNet

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
